<form action="/landmarks/<%= @landmark.id %>" method="post">
  <br>Name: <input type="text" id= "name" name="landmark[name]" value="<%= @landmark.name %>"></br>
  <br>Year Completed: <input type="text" id= "year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed.to_s %>"></br>

  <br><input type="submit" value="Edit Landmark"></br>
</form>
